* {
    text-align: center;
    font-family: poppins;
    width: auto;
}

body {
    margin: 20px 0px;
}

.struct {
    display: grid;
    grid-gap: 40px;
}

.titlet {
    color: #353535;
}

.titlet img {
    height: 150px;
    width: 90%;
    margin: auto;
}

.tit {
    color: #00399B;
    font-weight: 700;
    font-size: 1.5rem;
}

.button {
    background-color: #00399B;
    border-radius: 20px;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    width: 300px;
    font-size: 35px;
    box-shadow: 0px 10px 10px #888888;
    opacity: 0.8;
}

.button:hover {
    opacity: 1;
}

.inf {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 400px;
    font-size: 15px;
    justify-content: center;
}
